{
  "DEBUG": "0",
  "CLIENT_ID": "",
  "CLIENT_SECRET": "",
  "HOMEY_LOG_FORCE": "false",
  "HOMEY_LOG_URL": "",
  "TIMEOUT_COLLECTION": "15000",
  "TIMEOUT_COAP": "20000",
  "TIMEOUT_WEBSOCKET": "25000",
  "TIMEOUT_BLUETOOTH": "27000"
}
